<ion-content [fullscreen]="true">
  <div id="loader">
    <ion-title class="large">Achieve</ion-title>
    <ion-icon name="settings-outline" id="settings" color="light"></ion-icon>
    <ion-icon name="create-outline" id="create" color="light"></ion-icon>
    <ion-button id="start_button" (click)="mainButton()">Start</ion-button>

    <img id="scale" src="../../assets/Images/scale.png">
    <div class="waveWrapper waveAnimation">
      <div class="waveWrapperInner bgTop">
        <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
      </div>
      <div class="waveWrapperInner bgMiddle">
        <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
      </div>
      <div class="waveWrapperInner bgBottom">
        <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
      </div>
    </div>
    <div id="fill">

    </div>
  </div>
</ion-content>
